<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>When I was 22, I joined with the IT industry as a permenently employee.</p>

    <p>While I learn and started application development, I thought about quitting when challenges are high more than approximately 100 times. But with some good advices and self lernings, I kept going. I’m that person. Once I say I’ll do something, it
      will happen.</p>

    <p>Now, I put that perseverance to work as a software engineer for Fidenz Technologies. Sometime I do find big challenges, but I breake them and fix them.</p>
    
    <p>I'm having a PGD and a BSc. Planing to continue MSc in 2019.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li>
        <a href="https://github.com/chathurahettiarachchi"><%= fa_icon "github" %></a>
      </li>
      <li>
        <a href="https://twitter.com/ChathuraJH"><%= fa_icon "twitter" %></a>
      </li>
      <li>
        <a href="https://www.facebook.com/chathurajh"><%= fa_icon "facebook" %></a>
      </li>
      <li>
        <a href="https://www.instagram.com/chathura.h/?hl=en"><%= fa_icon "instagram" %></a>
      </li>
    </ol>
  </div>
</div>
