<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">In this portfolio I've listed some of my favorite projects that I've built through the years. These application capture a wide range of the applications that love to develop, including: web and mobile applications, enterprise projects, machine learning projects, and tools used by millions of users each day.</p>
    <p>
      <a href="https://github.com/chathurahettiarachchi" class="btn btn-primary"><%= fa_icon "github" %> Find my work on Github</a>
      <a href="https://www.facebook.com/chathurajh" class="btn btn-secondary"><%= fa_icon "facebook" %> Like me on Facebook</a>
    </p>
  </div>
</section>
