<footer class="text-muted">
  <div class="container">
    <%= render "shared/application_footer" %>
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>This page is showing all the portfolio items of me, enjoy the time spending here..!</p>
    <p></p>
  </div>
</footer>
