<h1>Would you like to work together</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>
    <p>No.67, Palatuthenna, Koslanda</p>

    <h3>Phone</h3>
    <p><%= number_to_phone "+94773373739" %></p>

    <h3>Email</h3>
    <p>
      <a href="mailto:chathura93@yahoo.com?subject=PortfolioContact" "email me">Email me</a>
    </p>
  </div>
  <div class="col-md-6 ">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.0535569777526!2d79.88443961528307!3d6.884188295025453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25a3a13e30d37%3A0x91ac4d59ad9f09cd!2sFidenz+Technologies!5e0!3m2!1sen!2slk!4v1540475706670"
      width="500"
      height="500"
      frameborder="0"
      style="border:0"
      allowfullscreen="allowfullscreen"></iframe>
  </div>
</div>
